body{
    background-color: whitesmoke;
    margin: 0px;
}

header  {
    background-color: #22232e;
    padding-top: 1px;
    padding-left: 25px;
    padding-bottom: 1px;
    margin: auto;
    color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
}

.line_top{
    background-color: #5D6D7E;
    padding: 3px;
    margin: auto;
}

.side_c{
    content:"";
    position: absolute;
    z-index: -1;
    top: 120px;
    bottom: 50px;
    left: 50%;
    border-left: 2px dotted grey;
}

.wrapper {
    display: grid;
    grid-template-columns: 33px 400px 34px 400px 33px;
    justify-content: center;
    align-items: center;
}

.side_l{
    margin: 0%;
    margin-top: 20px;
    padding: 1px;
    justify-content: center; 
    align-items: center;
}

.box_logo{
    margin-top: -20px;
    align-content: center;
    margin-right: 0px;
    margin-left: -100px;
}

.logo_log{
    color: #22232e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic;
    font-size: 45px;
    text-align: center;
}

.p_logo_log{
    margin-top: -20px;
    color: #22232e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

.side_r{
    margin-left: 10%;
    padding: 0px;
}

.box-form-log{
    color: #22232e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: left;
}

.btnEntrar{
    margin-top: 20px;
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:120px;
    height:40px;
    border-width:1px;
    color:#22232e;
    border-color:#3abada;
    font-weight:500;
    border-radius: 6px;
    box-shadow:inset 0px 1px 0px 0px #3abada;
    background:linear-gradient(#3abada, #29aaca)
}

.btnEntrar:hover {
    background: linear-gradient(#29aaca, #3abada);
}

input{
    padding: 2px;
    padding-left: 10px;
    border-radius: 6px;
    height:25px;
    border: 1px;
    border-width:1px;
    border-color: #777b80;
    border-style:solid;  
}



/* ORGANIZAÇÃO DO CONTEÚDO INTERNO */
.wrapper_int {
    display: grid;
    grid-template-columns: 100px 100px 700px ;
    justify-content: left;
    align-items: left;
    position: relative;
}

.menu{
    position: absolute;
    border: none; 
    width: 100%;
    height: 450px;
    margin-top: 10px;
    margin-left: 0px;   
}

.conteudo{
    position: relative;
    border: none; 
    width: 1100px;
    height: 510px;
    margin-top: 10px;
    margin-left: 20px;  
}